.square{
    width:50px;
    height:50px;
    border:1px dotted #000;
    font-size:30px;
    text-align:center;
    font-weight:bold;
}
table{
	display:inline;

}
h3{
	display:inline;

}
.column{
    text-align:center;
}
.fa:hover{
    cursor:pointer;
}
.heading{
	text-align:left;
}
.rowBoard{
	margin-top:10%;
}